#mainForumContainer{
    align-items: center;
}

#mainForumSubForums{
    width: 100%;
}

#mainForumButtonDiv{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 10.5vw;
}

#mainForumSubForumRow{
    height: 70vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

#mainForumSubForumRow::-webkit-scrollbar{
    display: none;
}